@tailwind utilities;

.header {
  background-color: color-mix(in srgb, oklch(var(--sc)) 30%, transparent);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.navigation > * {
  @apply text-sm md:text-base lg:text-lg xl:text-xl;
  background-image: linear-gradient(oklch(var(--a)) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.15s,
    background-position 0s 0.15s,
    color 0.15s;
  -webkit-transition:
    background-size 0.15s,
    background-position 0s 0.15s,
    color 0.15s;
}

@media (hover: hover) and (pointer: fine) {
  .navigation > *:hover {
    @apply selected-navigation;
  }
}

.selected-navigation {
  color: oklch(var(--a));
  background-position: 100% 100%;
  background-size: 100% 2px;
}
