.skill {
  @apply rounded-md border-2 border-solid border-primary px-2 font-semibold;
  box-shadow: 0 0 3px oklch(var(--p));
  background: linear-gradient(
    45deg,
    color-mix(in srgb, oklch(var(--s)) 25%, transparent 100%),
    color-mix(in srgb, oklch(var(--p)) 25%, transparent 100%)
  );
}

.project-hover {
  @apply transition-all;
}

.project-hover:hover {
  background-color: color-mix(in srgb, oklch(var(--a)), transparent 90%);
  .project-title {
    @apply text-primary;
  }
}

.project-link {
  @apply transition-all;
}
.project-link:hover {
  @apply stroke-info;
}
a:has(.project-link):focus-visible {
  svg {
    @apply stroke-info;
  }
}

.project-link-youtube {
  @apply transition-all;
}
.project-link-youtube:hover {
  @apply stroke-error;
}
a:has(.project-link-youtube):focus-visible {
  svg {
    @apply stroke-error;
  }
}
