.signature {
  filter: url(#sig-glow);
  > path {
    opacity: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: draw-line;
    stroke: oklch(var(--p));
  }
}

@keyframes draw-line {
  100% {
    stroke-dashoffset: 0;
  }
}
